{
  "privateKey": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCRfym/R61RPOnI\ncxkiCBpZj2EeMoRUhF+xRu/nRf15pS3O07SLjsY8bu7tClaSVzLzfz7M1kVFqM72\nyP5BqpIUiN+OaNZ7j3InwWAeTAoGEJskazPorrEB0+kVKdG3npaKjh8UUAOS70yo\n...(truncated for example)...\n-----END PRIVATE KEY-----",
  "publicKey": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkX8pv0etUTzpyHMZIgga\nWY9hHjKEVIRfsUbv50X9eaUtztO0i47GPG7u7QpWklcy838+zNZFRajO9sj+QaqS\nFIjfjmjWe49yJ8FgHkwKBhCbJGsz6K6xAdPpFSnRt56Wio4fFFADrb9+MlSxtd/J\nZztW+hXcurz8W10kx380M0kdNQ7TSUpf7xcpvZZdBcBEwZJeWH83C00l5dJQFOEj\nNMB+o3wsKay/koKdq4l6064QzS/F3I68QVso/BXY2XmCWTR27EEQVKGdrt7ABMKI\nY8BM817prLEMgnoBeLb/yl4a/T2MJj7/nqojUQEL8vgBxWS2LmKgi7SZVYWHuUtj\ncwIDAQAB\n-----END PUBLIC KEY-----"
}
